<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sequlize Joins Demo</h1>
     <ul>
       <li><a href="./listUsers">List All User Records</a> </li>
       <li><a href="./listGameLogs">List All User Game Records With out JOIN</a> </li>
       <li><a href="./listGameLogsWithUser">List All User Game Records With JOIN</a> </li>
     </ul>
  </body>
</html>
